$main-background-color: #0391a1;
$nav-background-color: #014851;
$heading-color: #f7f7f4;
$paragraph-color: #013a40;
$element-background-color: #ec795f;
$card-background-color: #ada093;
$card-button-color: #ec795f;

body {
  background-color: $main-background-color;
}

h1 {
  color: $heading-color;
  text-align: center;
  padding: 30px;
}
h2 {
  color: $heading-color;
  text-align: left;
  padding-bottom: 20px;
}

.main-p {
  font-weight: bold;
}

#supermarket-table {
  background-color: $element-background-color;
  margin-top: 30px;
}

.navbar {
  background-color: $nav-background-color;
}

.card {
  background-color: $card-background-color;
  margin-bottom: 30px;
}

.card-button {
  background-color: $card-button-color;
}

.card-img {
  height: 12rem;
}

@media (min-width: 650px) {
  h1 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 30px;
    padding: 30px;
  }
  p {
    font-size: 1rem;
  }
}

@media (max-width: 649px) {
  h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 10px;
    padding: 20px;
  }
  p {
    font-size: 0.75rem;
  }
}

#supermarket-table {
  tr:hover {
    background-color: #f3aa99;
  }
}

%a-list {
  background-color: $element-background-color;
  padding: 20px;
  border-radius: 30px;
  list-style: none;
}

.my-list {
  @extend %a-list;
  list-style-image: url("./svg/arrow-right-solid.svg");
}
